
.botonBarra:hover{
    background-color:yellow;
    cursor: pointer;
}
.botonBarra{
    color:blue !important;
}

.azul{
    color:blue !important;
}
.azul:hover{
    cursor: pointer;
}
.cerrarSesion{
     color:blue !important;
}
.cerrarSesion:hover{
    cursor: pointer;
}
